
@{
    ViewData["Title"] = "DEMO FOR STRIPE";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i,900,900i" rel="stylesheet">

    <!--begin::Global Stylesheets Bundle(mandatory for all pages)-->
    <link href="~/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Global Stylesheets Bundle-->
 
    
    <script src="~/assets/js/scripts.bundle.js"></script>
   


</head>
<body>
    <div class="app-main flex-column flex-row-fluid col-9">
        <div class="app-content flex-column-fluid">
            <div class="app-container container-fluid">
                <main role="main" class="container">
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
